<ul class="nav nav-pills">
    <li role="presentation" 
        class="nav-item" 
        routerLinkActive="active" 
    >
      <a class="nav-link" aria-current="page" routerLink="/characters">Home</a>
    </li>
    <li role="presentation" class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/new-character">New Character</a>
    </li>
  </ul>

  <!-- <ul class="nav nav-pills">
    <li role="presentation" class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> -->
        <!-- [routerLink]="" when other type is value
        [routerLink]="''" when string is value property passed for binding
        routerLink="" when string is value -->
      <!-- <a class="nav-link" aria-current="page" routerLink="/characters">Home</a>
    </li>
    <li role="presentation" class="nav-item" routerLinkActive="active"> -->
        <!-- routerLink="/new-character" ... new-character is from app.module.ts routes path: -->
      <!-- <a class="nav-link" routerLink="/new-character">New Character</a>
    </li>
  </ul> -->